#IMPORTING THE LIBRARIES

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix, classification_report

#LOADING THE DATASET TO THE PANDAS DATAFRAME

In [2]:
creditcard_data=pd.read_csv('fraudTest.csv')

#FIRST 5 ROWS OF THE DATASET USING head() METHOD

In [3]:
creditcard_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

#LAST 5 ROWS OF THE DATASET USING tail() METHOD

In [4]:
creditcard_data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

#DATASET INFORMATION USING info() METHOD

In [5]:
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

#CHECKING THE NUMBER OF MISSING VALUES IN EACH COLUMN

In [6]:
creditcard_data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

#CHECKING THE DISTRIBUTION OF FRAUDULENT TRANSACTIONS AND LEGIT TRANSACTIONS

In [7]:
creditcard_data['is_fraud'].value_counts()

0    553574
1      2145
Name: is_fraud, dtype: int64

THIS DATASET IS HIGHLY UNBALANCED
0-->REPRESENTS LEGIT TRANSACTIONS
1-->REPRESENTS FRAUDULENT TRANSACTIONS

In [8]:
# Drop the 'Time' column
creditcard_data=creditcard_data.drop(['trans_date_trans_time'], axis=1)

In [9]:
#seperating the data as legit and fraudulant transactions for analysis
legit_transactions=creditcard_data[creditcard_data.is_fraud==0]
fraudulant_transactions=creditcard_data[creditcard_data.is_fraud==1]

In [10]:
#printing the shape of the legit and fraudulant transactions
print(legit_transactions.shape)
print(fraudulant_transactions.shape)

(553574, 22)
(2145, 22)

In [11]:
#statistical measure of the data
legit_transactions.amt.describe()

count    553574.000000
mean         67.614408
std         152.471931
min           1.000000
25%           9.600000
50%          47.150000
75%          82.620000
max       22768.110000
Name: amt, dtype: float64

In [12]:
fraudulant_transactions.amt.describe()

count    2145.000000
mean      528.356494
std       392.747594
min         1.780000
25%       214.510000
50%       371.940000
75%       907.770000
max      1320.920000
Name: amt, dtype: float64

In [13]:
#comparee the values for both legit and fraudulant transactions
creditcard_data.groupby('is_fraud').mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12740\3310836943.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  creditcard_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,277997.725990,4.179643e+17,67.614408,48846.424285,38.541406,-90.230495,88313.692365,1.380683e+09,38.540954,-90.230474
1,242057.088112,3.854274e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

UNDER SAMPLING

BUILDING THE SAMPLE DATASET CONTAINING SIMILAR DISTRIBUTION OF LEGIT AND FRAUDULANT TRANSACTIONS

NUMBER OF FRAUDULANT TRNSACTIONS ARE=2145

In [14]:
legit_transactions_sample=legit_transactions.sample(n=2145)

CONCATENATING THE TWO DATAFRAMES

In [15]:
new_credit_data=pd.concat([legit_transactions_sample,fraudulant_transactions],axis=0)

In [16]:
new_credit_data.head()

,Unnamed: 0,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
4509,4509,2269768987945882,fraud_Larkin Ltd,kids_pets,10.62,Shannon,Patterson,F,9808 Ellis Bypass,Mount Morris,...,42.6835,-77.8664,4895,Acupuncturist,1958-10-29,141142fbd597c5cfa150081bfa532941,1371917930,42.680736,-77.111898,0
482553,482553,2720894374956739,"fraud_Kunze, Larkin and Mayert",travel,5.05,Audrey,Hickman,F,3325 Gregory Square,Mount Clemens,...,42.5978,-82.8823,16305,"Psychologist, sport and exercise",1927-05-25,a5f07860d4d401c07dc450fdb7aa0f05,1387113172,41.885393,-83.874640,0
472155,472155,30273037698427,fraud_Bauch-Blanda,entertainment,62.21,Andrew,Patterson,M,06959 Stephen Branch Suite 246,Thida,...,35.5762,-91.4539,111,Careers information officer,2000-06-13,e65580041d11e073ae315eab5484158f,1386962141,36.330748,-91.096043,0
83051,83051,4449530933957323,"fraud_Johnson, Runolfsdottir and Mayer",misc_net,164.05,Felicia,Mckee,F,84079 Thomas Burgs,Tomales,...,38.2427,-122.9145,337,Occupational psychologist,1954-07-05,4d59b37780d3a11949d0fc4113110acb,1374308362,37.622148,-122.299136,0
170098,170098,343464013864032,fraud_Champlin and Sons,home,170.52,Jodi,Foster,F,551 Zachary Freeway,Bailey,...,35.8072,-78.0892,6629,Call centre manager,1962-08-13,c4ea8233a439063bccbd0976f4777273,1376927119,36.301606,-77.716004,0

In [17]:
new_credit_data.tail()

,Unnamed: 0,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
517197,517197,2242176657877538,"fraud_Willms, Kris and Bergnaum",shopping_pos,1041.51,Travis,Daniel,M,1327 Rose Causeway Apt. 610,Senatobia,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,35b0297dd026d2e9a75d024a5dec7955,1387749948,34.573471,-89.911011,1
517274,517274,2242176657877538,fraud_Kuhn LLC,shopping_pos,868.09,Travis,Daniel,M,1327 Rose Causeway Apt. 610,Senatobia,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,da7f67d7375f10a054a3d919448c45dd,1387750687,34.091227,-90.390612,1
517341,517341,2242176657877538,"fraud_Mosciski, Ziemann and Farrell",shopping_net,1039.42,Travis,Daniel,M,1327 Rose Causeway Apt. 610,Senatobia,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,25b076c7bcd70f272c1c5326bb234f4b,1387751508,34.628434,-90.284780,1
517529,517529,2242176657877538,fraud_Bauch-Raynor,grocery_pos,289.27,Travis,Daniel,M,1327 Rose Causeway Apt. 610,Senatobia,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,2df7d894868fbc99ec1d8b055585fc9d,1387753563,34.746063,-90.401093,1
517571,517571,2242176657877538,fraud_Jaskolski-Vandervort,misc_net,766.38,Travis,Daniel,M,1327 Rose Causeway Apt. 610,Senatobia,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,44292cbc51e37dc018ee6a988a4bc426,1387754019,33.771462,-90.651342,1

In [18]:
new_credit_data['is_fraud'].value_counts()

0    2145
1    2145
Name: is_fraud, dtype: int64

In [19]:
new_credit_data.groupby('is_fraud').mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_12740\904473221.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_credit_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,273353.490443,4.567667e+17,68.370984,48348.399068,38.313718,-90.042680,71079.197669,1.380544e+09,38.320825,-90.037615
1,242057.088112,3.854274e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

SPLITTING THE DATA INTO TARGET AND FEATURES

In [20]:
X=new_credit_data.drop(columns='is_fraud',axis=1)
Y=new_credit_data['is_fraud']

In [21]:
print(X)

        Unnamed: 0            cc_num                                merchant  \
4509          4509  2269768987945882                        fraud_Larkin Ltd
482553      482553  2720894374956739          fraud_Kunze, Larkin and Mayert
472155      472155    30273037698427                      fraud_Bauch-Blanda
83051        83051  4449530933957323  fraud_Johnson, Runolfsdottir and Mayer
170098      170098   343464013864032                 fraud_Champlin and Sons
...            ...               ...                                     ...
517197      517197  2242176657877538         fraud_Willms, Kris and Bergnaum
517274      517274  2242176657877538                          fraud_Kuhn LLC
517341      517341  2242176657877538     fraud_Mosciski, Ziemann and Farrell
517529      517529  2242176657877538                      fraud_Bauch-Raynor
517571      517571  2242176657877538              fraud_Jaskolski-Vandervort

             category      amt    first       last gender  \
4509        kids_pets    10.62  Shannon  Patterson      F
482553         travel     5.05   Audrey    Hickman      F
472155  entertainment    62.21   Andrew  Patterson      M
83051        misc_net   164.05  Felicia      Mckee      F
170098           home   170.52     Jodi     Foster      F
...               ...      ...      ...        ...    ...
517197   shopping_pos  1041.51   Travis     Daniel      M
517274   shopping_pos   868.09   Travis     Daniel      M
517341   shopping_net  1039.42   Travis     Daniel      M
517529    grocery_pos   289.27   Travis     Daniel      M
517571       misc_net   766.38   Travis     Daniel      M

                                street           city  ...    zip      lat  \
4509                 9808 Ellis Bypass   Mount Morris  ...  14510  42.6835
482553             3325 Gregory Square  Mount Clemens  ...  48043  42.5978
472155  06959 Stephen Branch Suite 246          Thida  ...  72165  35.5762
83051               84079 Thomas Burgs        Tomales  ...  94971  38.2427
170098             551 Zachary Freeway         Bailey  ...  27807  35.8072
...                                ...            ...  ...    ...      ...
517197     1327 Rose Causeway Apt. 610      Senatobia  ...  38668  34.6323
517274     1327 Rose Causeway Apt. 610      Senatobia  ...  38668  34.6323
517341     1327 Rose Causeway Apt. 610      Senatobia  ...  38668  34.6323
517529     1327 Rose Causeway Apt. 610      Senatobia  ...  38668  34.6323
517571     1327 Rose Causeway Apt. 610      Senatobia  ...  38668  34.6323

            long  city_pop                               job         dob  \
4509    -77.8664      4895                     Acupuncturist  1958-10-29
482553  -82.8823     16305  Psychologist, sport and exercise  1927-05-25
472155  -91.4539       111       Careers information officer  2000-06-13
83051  -122.9145       337         Occupational psychologist  1954-07-05
170098  -78.0892      6629               Call centre manager  1962-08-13
...          ...       ...                               ...         ...
517197  -89.8855     14462            Database administrator  1959-03-03
517274  -89.8855     14462            Database administrator  1959-03-03
517341  -89.8855     14462            Database administrator  1959-03-03
517529  -89.8855     14462            Database administrator  1959-03-03
517571  -89.8855     14462            Database administrator  1959-03-03

                               trans_num   unix_time  merch_lat  merch_long
4509    141142fbd597c5cfa150081bfa532941  1371917930  42.680736  -77.111898
482553  a5f07860d4d401c07dc450fdb7aa0f05  1387113172  41.885393  -83.874640
472155  e65580041d11e073ae315eab5484158f  1386962141  36.330748  -91.096043
83051   4d59b37780d3a11949d0fc4113110acb  1374308362  37.622148 -122.299136
170098  c4ea8233a439063bccbd0976f4777273  1376927119  36.301606  -77.716004
...                                  ...         ...        ...         ...
517197  35b0297dd026d2e9a75d024a5dec7955  1387749948  34.573471  -89.911011
517274  da7f67d7375f10a054a3d919448c45dd  1387750687  34.091227  -90.390612
517341  25b076c7bcd70f272c1c5326bb234f4b  1387751508  34.628434  -90.284780
517529  2df7d894868fbc99ec1d8b055585fc9d  1387753563  34.746063  -90.401093
517571  44292cbc51e37dc018ee6a988a4bc426  1387754019  33.771462  -90.651342

[4290 rows x 21 columns]

In [22]:
print(Y)

4509      0
482553    0
472155    0
83051     0
170098    0
         ..
517197    1
517274    1
517341    1
517529    1
517571    1
Name: is_fraud, Length: 4290, dtype: int64

In [23]:
# Exclude non-numeric columns from scaling
numeric_columns = X.select_dtypes(include=[np.number]).columns
X_numeric = X[numeric_columns]

SPLIT THE DATA INTO TRAINING DATA AND TESTING DATA

In [24]:
X_train,X_test,Y_train,Y_test=train_test_split(X_numeric,Y,test_size=0.2,stratify=Y,random_state=2)

In [25]:
print(X.shape,X_train.shape,X_test.shape)

(4290, 21) (3432, 10) (858, 10)

In [26]:
# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

MODEL TRAINING 
LOGISTIC REGRESSION

In [27]:
logistic_model=LogisticRegression()

In [28]:
#training the Logistic Regression using training data
logistic_model.fit(X_train,Y_train)

LogisticRegression()

MODEL EVALUATION

ACCURACY SCORE

In [29]:
#accuracy on training data
X_train_prediction=logistic_model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

# Evaluate the model
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
training_data_precision = precision_score(X_train_prediction,Y_train)
training_data_recall = recall_score(X_train_prediction,Y_train)
training_data_f1 = f1_score(X_train_prediction,Y_train)
training_data_confusion_matrix = confusion_matrix(X_train_prediction,Y_train)

print("Logistic Regression Results:")
print(f"Accuracy: {training_data_accuracy}")
print(f"Precision: {training_data_precision}")
print(f"Recall: {training_data_recall}")
print(f"F1 Score: {training_data_f1}")
print(f"Confusion Matrix:\n{training_data_confusion_matrix}")

Logistic Regression Results:
Accuracy: 0.8490675990675991
Precision: 0.7482517482517482
Recall: 0.9372262773722628
F1 Score: 0.832145171743357
Confusion Matrix:
[[1630  432]
 [  86 1284]]

In [30]:
#accuracy on test data
X_test_prediction=logistic_model.predict(X_test)
training_data_accuracy=accuracy_score(X_test_prediction,Y_test)

# Evaluate the model
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
test_data_precision = precision_score(X_test_prediction,Y_test)
test_data_recall = recall_score(X_test_prediction,Y_test)
test_data_f1 = f1_score(X_test_prediction,Y_test)
test_data_confusion_matrix = confusion_matrix(X_test_prediction,Y_test)

print("Logistic Regression Results:")
print(f"Accuracy: {test_data_accuracy}")
print(f"Precision: {test_data_precision}")
print(f"Recall: {test_data_recall}")
print(f"F1 Score: {test_data_f1}")
print(f"Confusion Matrix:\n{test_data_confusion_matrix}")

Logistic Regression Results:
Accuracy: 0.8554778554778555
Precision: 0.7435897435897436
Recall: 0.9579579579579579
F1 Score: 0.8372703412073491
Confusion Matrix:
[[415 110]
 [ 14 319]]

In [31]:
print("Accuracy on training data:", training_data_accuracy)

Accuracy on training data: 0.8554778554778555

In [32]:
#accuracy on testing data
print("Accuracy on testing data:", test_data_accuracy)

Accuracy on testing data: 0.8554778554778555

DECISION TREE

In [33]:
# Create and train the Decision Tree model
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [34]:
# Make predictions
dt_predictions = dt_model.predict(X_test)

In [35]:
# Evaluate the model
dt_accuracy = accuracy_score(Y_test, dt_predictions)
dt_report = classification_report(Y_test, dt_predictions)
print(f"Decision Tree Accuracy: {dt_accuracy}")
print(f"Classification Report:\n{dt_report}")

Decision Tree Accuracy: 0.872960372960373
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.87      0.87       429
           1       0.87      0.88      0.87       429

    accuracy                           0.87       858
   macro avg       0.87      0.87      0.87       858
weighted avg       0.87      0.87      0.87       858

RANDOM FOREST

In [36]:
# Create and train the Random Forest model
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)

RandomForestClassifier()

In [37]:
# Make predictions
rf_predictions = rf_model.predict(X_test)

In [38]:
# Evaluate the model
rf_accuracy = accuracy_score(Y_test, rf_predictions)
rf_report = classification_report(Y_test, rf_predictions)
print(f"Random Forest Accuracy: {rf_accuracy}")

Random Forest Accuracy: 0.9358974358974359